.DS_Store
Marvel Cinematic Universe Films.xcodeproj/project.xcworkspace/xcuserdata/pv2.xcuserdatad/UserInterfaceState.xcuserstate
Marvel Cinematic Universe Films.xcodeproj/xcuserdata/pv2.xcuserdatad/xcschemes/xcschememanagement.plist
